<html>
  <head>
    <title>Delete book</title>
  </head>
  <body>
    <h1>Delete book</h1>
    <p>Are you sure you want to delete "{{ book.title }}"?</p>
    <form action="{{ url_for('deleteBook', book_id=book.id) }}" method="post">
      <input type="submit" value="Delete">
    </form>
  </body>
</html>