<html>
  <head>
    <title>Edit Book</title>
  </head>
  <body>
    <h1>Edit Book</h1>
    <form action="{{ url_for('editBook', book_id=book.id) }}" method="post">
      <input type="text" name="title" value="{{ book.title }}">
      <input type="submit" value="Save">
    </form>
  </body>
</html>