<!DOCTYPE html>
<html>
  <head>
    <title>New Book</title>
  </head>
  <body>
    <h1>Add a new book</h1>
    <form action="{{ url_for('newBook') }}" method="post">
      <input type="text" name="title" placeholder="Book title">
      <input type="submit" value="Add">
    </form>
  </body>
</html>