<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
  </head>
  <body>
    <h1>List of Books</h1>
    <ul>
      {% for book in books %}
        <li>
          {{ book.title }}
          <a href="{{ url_for('editBook', book_id=book.id) }}">Edit</a>
          <a href="{{ url_for('deleteBook', book_id=book.id) }}">Delete</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('newBook') }}">Add a new book</a>
  </body>
</html>